@model IEnumerable<CategoryDTO>

@{
    ViewData["Title"] = "List of Categorys";
}

<div class="row">
    <div class="col-md-8 offset-md-2">
        <table class="table">
            <thead>
                <tr class="text-center">
                    <th>@Html.DisplayNameFor(model => model.Name)</th>
                    <th>Games</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr class="text-center">
                        <td class="align-middle">
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @if (item.Products != null)
                            {
                                <div class="row">
                                    @foreach (var product in item.Products)
                                    {
                                        <div class="col-md-4">
                                            <img class="border-info rounded-circle" src="@product.Image" style="max-width: 100px" />
                                            <br />
                                            <a asp-controller="Game" asp-action="Details" asp-route-id="@product.Id">@product.Name</a>
                                        </div>
                                    }
                                </div>
                            }
                        </td>
                        <td class="align-middle">
                            <div class="btn-group">
                                <a class="btn btn-outline-primary btn-sm" asp-action="Edit" asp-route-id="@item.Id style="margin-right: 10px;"><i class="bi bi-pencil-square"></i>Edit</a>
                                <a class="btn btn-danger btn-sm text-white" asp-action="Delete" asp-route-id="@item.Id"><i class="bi bi-trash"></i>Delete</a>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

@await Html.PartialAsync("_CreateItem", "Category") 